#FFnS_settingsDivContainer {
  display: none;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  position: fixed;
}

#FFnS_settingsDiv {
  max-height: 87%;
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 1%;
  border-radius: 25px;
  border: 2px solid #336699;
  background: #e0f5ff;
  padding: 2%;
  opacity: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.FFnS_input {
  font-size: 12px;
}

#FFnS_tabs_menu {
  display: block;
  clear: both;
  margin-top: 1%;
  margin-bottom: 0%;
  padding: 0px;
  text-align: center;
}
#FFnS_tabs_menu li {
  height: 30px;
  line-height: 30px;
  display: inline-block;
  border: 1px solid #d4d4d1;
}
#FFnS_tabs_menu li.current {
  background-color: #b9e0ed;
}
#FFnS_tabs_menu li a {
  padding: 3px;
  color: #2a687d;
}

#FFnS_tabs_content {
  padding: 1%;
}

.FFnS_Tab_Menu {
  display: none;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.FFnS_icon {
  vertical-align: middle;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.FFnS_keyword {
  vertical-align: middle;
  background-color: #35a5e2;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  white-space: normal;
}

.tooltip-top {
  bottom: 100%;
  left: 50%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#FFnS_CloseSettingsBtn,
.FFnS_ColoringRuleManagement {
  float: right;
  cursor: pointer;
  width: 24px;
  height: 24px;
  padding: 4px;
}

#FFnS_Tab_SettingsControls button,
#FFnS_Tab_SettingsControls input {
  margin-top: 1%;
  font-size: 12px;
  vertical-align: inherit;
}

#FFnS_Tab_SettingsControls #FFnS_SettingsControls_UnlinkFromSub {
  display: inline;
}

#FFnS_MaxPeriod_Infos > input[type="number"] {
  width: 30px;
  margin-left: 1%;
  margin-right: 1%;
}

.MediumNumberInput {
  width: 45px;
}

#FFnS_MaxPeriod_Infos {
  margin: 1% 0 2% 0;
}

.setting_group {
  display: inline-block;
  white-space: nowrap;
  margin-right: 2%;
}

fieldset {
  border-color: #333690;
  border-style: bold;
}

legend {
  color: #333690;
  font-weight: bold;
}

fieldset + fieldset,
#FFnS_Tab_SettingsControls fieldset {
  margin-top: 1%;
}

fieldset select {
  margin-left: 1%;
}

fieldset select.FFnS_keywordMatchingSelect {
  margin-left: 0%;
  margin-right: 1%;
  vertical-align: middle;
}

input {
  vertical-align: middle;
}

.ShowSettingsBtn {
  background-image: url("{{extension-icon}}");
  background-size: 20px 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  filter: grayscale(1);
  font-weight: normal;
  min-width: 0;
  height: 40px;
  width: 40px;
  margin-right: 0px;
}

.ShowSettingsBtn:hover {
  color: #636363;
  background-color: rgba(0, 0, 0, 0.05);
}

.fx header h1 .detail.FFnS_Hiding_Info::before {
  content: "";
}

.FFnS_Hiding_Info {
  text-align: center;
}

.fx .open-in-new-tab-button.mark-as-read,
.fx .mark-as-read-above-below-button.mark-as-read {
  background-repeat: no-repeat;
  margin-right: 0px;
}

.fx .open-in-new-tab-button.mark-as-read,
.fx .entry.u0 .open-in-new-tab-button.condensed-toolbar-icon {
  background-image: url("{{open-in-new-tab-url}}");
  background-size: 18px 18px;
}

.fx .open-current-articles-in-new-tab-button {
  background-image: url("{{open-in-new-tab-url}}");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-color: white;
  display: block;
  margin-left: auto;
  min-width: 10px;
  padding: 10px;
}

.fx .mark-as-read-above-below-button.mark-as-read,
.fx .entry.u0 .mark-as-read-above-below-button.condensed-toolbar-icon,
.fx .entry.u5 .mark-as-read-above-below-button {
  width: 24px;
  height: 24px;
}

.fx .u100 .mark-as-read-above-below-button.mark-as-read,
.fx .u100 .open-in-new-tab-button.mark-as-read {
  margin-left: 20px;
  width: 24px;
  height: 24px;
}

.fx button.mark-above-as-read.mark-as-read {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAMAUExURQAAAAEBAQICAgMDAwQEBAUFBQYGBggICA8PDxERERMTExUVFRgYGBkZGRoaGhwcHB4eHh8fHyAgICYmJicnJygoKCoqKiwsLC4uLi8vLzAwMDExMTIyMjMzMzk5OTo6Oj09PT4+PkREREhISEtLS01NTU5OTlFRUVNTU1RUVFhYWF1dXV5eXl9fX2BgYGhoaGlpaWxsbHJycnh4eHp6enx8fAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFhUO7wAAAEAdFJOU////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////wBT9wclAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAGHRFWHRTb2Z0d2FyZQBwYWludC5uZXQgNC4wLjb8jGPfAAAA1klEQVQoU3WQiVICQQwFGxBUPLgVROQQEBDFA/7/02KSyS6sVXQVyZvXNezWImfIxCx28JCJOvUUnNVlduOOKreejHFJh4s2fRnQsqg8cdBpYklHZ5eF1dJnZctvTG3EHDL0HQ/PeeEmhX/ilYtIRfFOfi6IA8wjFgU0Irn42UWuUomk8AnxIlew9+DwpsL/rwkjrxJIWcWvyAj00x1BNioeZRH3cvRU0W6tv+eoEio+tFTK0QR2v+biKxUZJr6tv0/nHH/itQo/nZAK2Po+IYlJz9cRkT+a78AFAEXS0AAAAABJRU5ErkJggg==);
}

.fx button.mark-below-as-read.mark-as-read {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAMAUExURQAAAAEBAQICAgMDAwQEBAUFBQYGBgcHBwgICA8PDxERERUVFRoaGhwcHB4eHigoKCoqKiwsLC4uLjAwMDExMTIyMjMzMzk5OTo6Oj09PUhISElJSUtLS01NTVFRUVNTU1RUVFhYWF1dXV5eXl9fX2BgYGhoaGlpaWxsbG5ubnJycnR0dHV1dXh4eHp6ent7e3x8fAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACY/twoAAAEAdFJOU////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////wBT9wclAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAGHRFWHRTb2Z0d2FyZQBwYWludC5uZXQgNC4wLjb8jGPfAAAAxElEQVQoU3WQhxKCMBBEF7D3gg27Inbl/3/uvLtkQNrOJLvZNxcKqEIVYFQO9q3yiaXDWwmYIua9CCbYixWAD189DxbompADAWo2ZcEJyTkDYmBjYxYAfZsUPCKb6/BsYuEC2BdpAx8NKuwY6H0DYK6VEchl8CaaA/zrUoGODMa0tXOJ+ORxd+A1I3qap7iBgpBLliuVI2M1vBRQQ8FVAH9K1EQogddN+p729OV4kCCAOnwSF92xVjcFcFb/kwGroVoqoh+q2r44+TStvAAAAABJRU5ErkJggg==);
}

.fx .entry.u5 .open-in-new-tab-button,
.fx .entry.u5 .mark-as-read-above-below-button {
  filter: brightness(0) invert(1);
}

.fx .entry.u5 .open-in-new-tab-button {
  margin-right: 4px;
  margin-top: 4px;
  background-size: 32px 32px;
  width: 32px;
  height: 32px;
}

.ShowSettingsBtn:hover {
  color: #636363;
  background-color: rgba(0, 0, 0, 0.05);
}

#FFnS_Tab_KeywordControls span {
  vertical-align: top;
}

#FFnS_Tab_KeywordControls div {
  margin-top: 2%;
}

.FFnS_select {
  vertical-align: middle;
}

#FFnS_AddSortingType {
  margin-left: 1%;
}

.entry[gap-article] {
  visibility: hidden;
}

#FFnS_ImportSettings {
  width: 400px;
}

.FFnS_ColoringRule {
  margin-top: 1%;
  padding: 1%;
  border: 1px solid #636363;
}

.FFnS_ColoringRule div {
  margin-top: 1%;
}
